#main {
  width: 90%;
   background-color: rgb(245, 228, 220);
}

#heading {
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
}

#root {
  width: 95%;
  margin: 5%;
  color: black;
  background-color: chocolate;
  padding: 2%; 
}
#container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; 
  margin-left: 8%;
}

#episodesDiv {
  padding: 1%;
  margin-bottom: 2%;
  width: 40%;
  height: auto;
  border: 3px solid rgb(128, 126, 129);
  border-radius: 5%;
  background-color: burlywood;
  box-shadow: 10px 10px 5px grey;
}

#title-div {
  width: 90%;
  border: 3px solid rgb(128, 126, 129);
  border-radius: 5%;
  background-color: rgb(135, 166, 222);
  margin: 5%;
  text-align: center;
  font-size: 10px;
}

#img {
  width: 100%;
  height: auto;
  position: relative;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#level-500 {
  background-color: rgb(240, 228, 228);
}

#filter {
  width: 10%;
  font-size: 15px;
}

#shows {
  width: 17%;
}

#select-input {
  width: 17%;
  font-size: 15px;
}

#count-display {
  margin-left: 80%;
  font-size: 20px;
  color: white;
}

#disclaimer {
  text-align: center;
  font-size: 12px;
}